In [31]:
from selenium import webdriver
import time
import requests
import pandas as pd
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
import os

In [42]:
cloud_path = '/Users/gamzebilsen/Downloads/chromedriver 2'
drive = webdriver.Chrome(cloud_path)
URL = "https://www.ncdc.noaa.gov/cag/statewide/mapping"
drive.get(URL)

/var/folders/2g/x52yhs_s6h96x64ydv7ck14m0000gn/T/ipykernel_76337/3930406480.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  drive = webdriver.Chrome(cloud_path)

In [43]:
month_list = ['1','2','3','4','5','6','7','8','9','10','11','12']
year_list = ['2004','2005','2006','2007','2008','2009','2010','2011','2012','2013']
state_list = ['Missouri','Nebraska','Kansas','Arkansas','Oklahoma']

In [44]:
missouri_dict = {}

In [45]:
for year in year_list:
    a = Select(drive.find_element_by_xpath("/html/body/div/div[2]/div/div/div/form/div[1]/div[3]/select"))
    a.select_by_value(year)
    time.sleep(1)
    for month in month_list:
        b = Select(drive.find_element_by_xpath("/html/body/div/div[2]/div/div/div/form/div[1]/div[4]/select"))
        b.select_by_value(month)
        time.sleep(0.5)
        c = drive.find_element(By.ID,"submit")
        c.click()
        time.sleep(3)
        d = drive.find_element_by_xpath('/html/body/div/div[2]/div/div/div/div/div[7]/table/tbody/tr/td[2]')
        missouri_dict[f'{month}/{year} temp']= d.text
        e = drive.find_element_by_xpath('/html/body/div/div[2]/div/div/div/div/div[7]/table/tbody/tr/td[4]')
        missouri_dict[f'{month}/{year} anomaly']= e.text
#     a = drive.find_element_by_xpath(f'/html/body/div[1]/div/div[3]/div/div/main/div/div/div/div/div[2]/section/table/tbody/tr[{i}]')

/var/folders/2g/x52yhs_s6h96x64ydv7ck14m0000gn/T/ipykernel_76337/3598666160.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  a = Select(drive.find_element_by_xpath("/html/body/div/div[2]/div/div/div/form/div[1]/div[3]/select"))
/var/folders/2g/x52yhs_s6h96x64ydv7ck14m0000gn/T/ipykernel_76337/3598666160.py:6: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  b = Select(drive.find_element_by_xpath("/html/body/div/div[2]/div/div/div/form/div[1]/div[4]/select"))
/var/folders/2g/x52yhs_s6h96x64ydv7ck14m0000gn/T/ipykernel_76337/3598666160.py:12: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  d = drive.find_element_by_xpath('/html/body/div/div[2]/div/div/div/div/div[7]/table/tbody/tr/td[2]')
/var/folders/2g/x52yhs_s6h96x64ydv7ck14m0000gn/T/ipykernel_76337/3598666160.py:14: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  e = drive.find_element_by_xpath('/html/body/div/div[2]/div/div/div/div/div[7]/table/tbody/tr/td[4]')

In [47]:
m1 = pd.DataFrame(list(missouri_dict.values()))
m2 = pd.DataFrame(list(missouri_dict.keys()))
misdf = pd.merge(m1,m2,left_index=True,right_index=True)
misdf = misdf.rename(columns={"0_x": "text",'0_y':'indexx'})
misdf = misdf.set_index(misdf['indexx'])
misdf = misdf.drop(['indexx'], axis=1)

In [50]:
mtemp = pd.DataFrame(misdf[misdf.index.str.contains(f'temp')]).reset_index()
mano = pd.DataFrame(misdf[misdf.index.str.contains(f'anomaly')]).reset_index()
display(mtemp.shape)
display(mano.shape)

(120, 2)

(120, 2)

In [89]:
mtemp = mtemp.merge(mano,how='inner',left_index=True, right_index=True).rename(
    {'text_x':'Missouri_Temperature','text_y':'Missouri_Anomaly'},axis=1).drop(
    ['indexx_x','indexx_y'],axis=1)
# mtemp.to_csv('mtemp.csv')
mtemp

    Missouri_Temperature Missouri_Anomaly
0                 29.8°F            0.4°F
1                 33.1°F           -0.7°F
2                 48.3°F            4.7°F
3                 56.2°F            1.7°F
4                 67.0°F            2.8°F
..                   ...              ...
115               74.6°F           -1.4°F
116               70.7°F            2.5°F
117               55.9°F           -1.1°F
118               41.8°F           -1.8°F
119               30.3°F           -2.7°F

[120 rows x 2 columns]

# Kansas

In [57]:
kansas_dict={}

In [58]:
for year in year_list:
    a = Select(drive.find_element_by_xpath("/html/body/div/div[2]/div/div/div/form/div[1]/div[3]/select"))
    a.select_by_value(year)
    time.sleep(1)
    for month in month_list:
        b = Select(drive.find_element_by_xpath("/html/body/div/div[2]/div/div/div/form/div[1]/div[4]/select"))
        b.select_by_value(month)
        time.sleep(0.5)
        c = drive.find_element(By.ID,"submit")
        c.click()
        time.sleep(3)
        d = drive.find_element_by_xpath('/html/body/div/div[2]/div/div/div/div/div[7]/table/tbody/tr/td[2]')
        kansas_dict[f'{month}/{year} temp']= d.text
        e = drive.find_element_by_xpath('/html/body/div/div[2]/div/div/div/div/div[7]/table/tbody/tr/td[4]')
        kansas_dict[f'{month}/{year} anomaly']= e.text

/var/folders/2g/x52yhs_s6h96x64ydv7ck14m0000gn/T/ipykernel_76337/1480038269.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  a = Select(drive.find_element_by_xpath("/html/body/div/div[2]/div/div/div/form/div[1]/div[3]/select"))
/var/folders/2g/x52yhs_s6h96x64ydv7ck14m0000gn/T/ipykernel_76337/1480038269.py:6: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  b = Select(drive.find_element_by_xpath("/html/body/div/div[2]/div/div/div/form/div[1]/div[4]/select"))
/var/folders/2g/x52yhs_s6h96x64ydv7ck14m0000gn/T/ipykernel_76337/1480038269.py:12: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  d = drive.find_element_by_xpath('/html/body/div/div[2]/div/div/div/div/div[7]/table/tbody/tr/td[2]')
/var/folders/2g/x52yhs_s6h96x64ydv7ck14m0000gn/T/ipykernel_76337/1480038269.py:14: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  e = drive.find_element_by_xpath('/html/body/div/div[2]/div/div/div/div/div[7]/table/tbody/tr/td[4]')

In [60]:
k1 = pd.DataFrame(list(kansas_dict.values()))
k2 = pd.DataFrame(list(kansas_dict.keys()))
kadf = pd.merge(k1,k2,left_index=True,right_index=True)
kadf = kadf.rename(columns={"0_x": "text",'0_y':'indexx'})
kadf = kadf.set_index(kadf['indexx'])
kadf = kadf.drop(['indexx'], axis=1)

In [87]:
katemp = pd.DataFrame(kadf[kadf.index.str.contains(f'temp')]).reset_index()
kaano = pd.DataFrame(kadf[kadf.index.str.contains(f'anomaly')]).reset_index()
display(katemp.shape)
display(kaano.shape)

(120, 2)

(120, 2)

In [88]:
katemp = katemp.merge(kaano,how='inner',left_index=True, right_index=True).rename(
    {'text_x':'Kansas_Temperature','text_y':'Kansas_Anomaly'},axis=1).drop(
    ['indexx_x','indexx_y'],axis=1)
# katemp.to_csv('kaemp.csv')
katemp

    Kansas_Temperature Kansas_Anomaly
0               30.4°F          1.8°F
1               31.8°F         -1.8°F
2               49.2°F          6.8°F
3               54.9°F          1.4°F
4               66.9°F          3.5°F
..                 ...            ...
115             76.5°F         -0.8°F
116             72.1°F          3.5°F
117             55.2°F         -1.3°F
118             41.3°F         -0.7°F
119             29.2°F         -2.3°F

[120 rows x 2 columns]

# Nebraska

In [63]:
nebraska_dict ={}

In [64]:
for year in year_list:
    a = Select(drive.find_element_by_xpath("/html/body/div/div[2]/div/div/div/form/div[1]/div[3]/select"))
    a.select_by_value(year)
    time.sleep(1)
    for month in month_list:
        b = Select(drive.find_element_by_xpath("/html/body/div/div[2]/div/div/div/form/div[1]/div[4]/select"))
        b.select_by_value(month)
        time.sleep(0.5)
        c = drive.find_element(By.ID,"submit")
        c.click()
        time.sleep(3)
        d = drive.find_element_by_xpath('/html/body/div/div[2]/div/div/div/div/div[7]/table/tbody/tr/td[2]')
        nebraska_dict[f'{month}/{year} temp']= d.text
        e = drive.find_element_by_xpath('/html/body/div/div[2]/div/div/div/div/div[7]/table/tbody/tr/td[4]')
        nebraska_dict[f'{month}/{year} anomaly']= e.text

/var/folders/2g/x52yhs_s6h96x64ydv7ck14m0000gn/T/ipykernel_76337/2387983904.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  a = Select(drive.find_element_by_xpath("/html/body/div/div[2]/div/div/div/form/div[1]/div[3]/select"))
/var/folders/2g/x52yhs_s6h96x64ydv7ck14m0000gn/T/ipykernel_76337/2387983904.py:6: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  b = Select(drive.find_element_by_xpath("/html/body/div/div[2]/div/div/div/form/div[1]/div[4]/select"))
/var/folders/2g/x52yhs_s6h96x64ydv7ck14m0000gn/T/ipykernel_76337/2387983904.py:12: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  d = drive.find_element_by_xpath('/html/body/div/div[2]/div/div/div/div/div[7]/table/tbody/tr/td[2]')
/var/folders/2g/x52yhs_s6h96x64ydv7ck14m0000gn/T/ipykernel_76337/2387983904.py:14: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  e = drive.find_element_by_xpath('/html/body/div/div[2]/div/div/div/div/div[7]/table/tbody/tr/td[4]')

In [65]:
n1 = pd.DataFrame(list(nebraska_dict.values()))
n2 = pd.DataFrame(list(nebraska_dict.keys()))
nedf = pd.merge(n1,n2,left_index=True,right_index=True)
nedf = nedf.rename(columns={"0_x": "text",'0_y':'indexx'})
nedf = nedf.set_index(nedf['indexx'])
nedf = nedf.drop(['indexx'], axis=1)

In [66]:
netemp = pd.DataFrame(nedf[nedf.index.str.contains(f'temp')]).reset_index()
neano = pd.DataFrame(nedf[nedf.index.str.contains(f'anomaly')]).reset_index()
display(netemp.shape)
display(neano.shape)

(120, 2)

(120, 2)

In [75]:
netemp = netemp.merge(neano,how='inner',left_index=True, right_index=True).rename(
    {'text_x':'Nebraska_Temperature','text_y':'Nebraska_Anomaly'},axis=1).drop(
    ['indexx_x','indexx_y'],axis=1)
# netemp.to_csv('neemp.csv')

In [90]:
date = neano['indexx'].str[:-8]
finalnebraska = pd.DataFrame(date).rename({'indexx':'Date'},axis=1).merge(netemp,how='inner',left_index=True, right_index=True)
finalmissouri = pd.DataFrame(date).rename({'indexx':'Date'},axis=1).merge(mtemp,how='inner',left_index=True, right_index=True)
finalkansas = pd.DataFrame(date).rename({'indexx':'Date'},axis=1).merge(katemp,how='inner',left_index=True, right_index=True)

In [98]:
final_kansas = finalkansas.merge(finalmissouri,how='inner',left_index=True, right_index=True).drop(
    ['Date_y'],axis=1)
final_temp = final_kansas.merge(finalnebraska,how='inner',left_index=True, right_index=True).drop(
    ['Date_x'],axis=1)
final_temp.to_csv('final_temp.csv')

In [104]:
for col in final_temp.columns:
    if col !='Date':
        final_temp[col]=final_temp[col].str[:-2]

,Kansas_Temperature,Kansas_Anomaly,Missouri_Temperature,Missouri_Anomaly,Date,Nebraska_Temperature,Nebraska_Anomaly
0,30.4,1.8,29.8,0.4,1/2004,24.0,1.9
1,31.8,-1.8,33.1,-0.7,2/2004,26.3,-0.4
2,49.2,6.8,48.3,4.7,3/2004,43.1,7.3
3,54.9,1.4,56.2,1.7,4/2004,50.5,2.8
4,66.9,3.5,67.0,2.8,5/2004,60.4,2.0
...,...,...,...,...,...,...,...
115,76.5,-0.8,74.6,-1.4,8/2013,73.8,1.5
116,72.1,3.5,70.7,2.5,9/2013,68.0,5.2
117,55.2,-1.3,55.9,-1.1,10/2013,48.8,-2.0
118,41.3,-0.7,41.8,-1.8,11/2013,36.0,0.1
119,29.2,-2.3,30.3,-2.7,12/2013,22.8,-2.5

In [105]:
final_temp.to_csv('final_temp.csv')